{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Instrument</legend>
                <div class="form-group">
                    {{ form.inst_name.label(class="form-control-label") }}
                    {{ form.inst_name(class="form-control form-control-sm") }}                   
                </div>                
                  <div class="form-group">
                    {{ form.inst_des.label(class="form-control-label") }}
                    {{ form.inst_des(class="form-control form-control-sm") }}                  
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
 
{% endblock content %}