
 {% extends 'layout.html' %}

 {% block title %}
Upload File
 {% endblock%}





 {% block content %}

 Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
 Hic quae ratione rem fugiat praesentium vel eos temporibus pariatur nemo, 
 saepe eveniet. Delectus cupiditate vitae doloremque nam ratione optio deserunt pariatur.

<br>
<br>

    <form id='upload-form' action="" method='post' enctype="multipart/form-data"> Select the file to upload:
        <input type='file' name='inputfile'>
        <input type="submit" value="submit" name="submit">
        </form>
       
       
        {% endblock %}